<section>
  <div class="container">
     <div class="row mt-5">
        <div class="col-md-12">
             <div class="d-flex">
                  <h2 class="text-primary">List of Alert Message</h2>
             </div>
             <div class="d-flex">
              <p>Below you can find the message</p>
             </div>
        </div>
     </div>
     <div class="row mt-5">
        <div class="col-md-12">
            <div class="d-flex">
                <app-danger></app-danger>
            </div>
            <div class="d-flex">
                <app-success></app-success>
            </div>
        </div>
      </div>
  </div>
</section>

